JIRA_BASE_URL=https://yourcompany.atlassian.net

# Fill in your Jira email that have access/authority to your desired filter
JIRA_EMAIL=you@company.com

# Configure your account's API token in https://id.atlassian.com/manage-profile/security/api-tokens
# Tolong periksa berkala dan perbarui masa token jika perlu
JIRA_API_TOKEN=your_api_token

# Use one of these:
# Filter ID appears at the end of the URL path "https://company.atlassian.net/issues/?filter=xxxxx"
JIRA_FILTER_ID=12345
# or
JIRA_FILTER_NAME=FilterName

# GSHEET credentials
GSHEET_ID=<SPREADSHEET_ID>
GSHEET_WORKSHEET=Issues
GOOGLE_SERVICE_ACCOUNT_FILE=C:\YourDirectory\jira-to-excel\service_account.json
